<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <link rel="shortcut icon" href="favicon.ico">
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="css/mycss.css">

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
        <div id="header">
            <nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="/" class="navbar-brand">
                    <div style="width: 10%">
                    <img src="../img/logo_of_iot.png" alt="IOT" class="logo_iot_img">
                     for EveryOne
                     </div>
                  </a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/setup">Setup</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/control">Control</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <span class="btn btn-outline-success"><%=name%></span>
                        <a href="/logout" class="nav-link btn btn-outline-success">Logout</a>
                    </form>
                </div>
            </nav>
        </div>
        <div id="content">
          <div class="jumbotron text-center">
              <h1 class="display-3">IOT FOR EVERYONE</h1>
              <p class="lead">TỰ THIẾT KẾ, TỰ LÀM, TỰ ĐIỀU KHIỂN</p>
              <hr class="my-4">
              <p>Cùng chúng tối làm cuộc sống hiện đại hơn</p>
              <p class="lead">
                  <a class="btn btn-primary btn-lg" href="#" role="button">CHI TIẾT</a>
              </p>
          </div>
        </div>
        <div class="feature1">
            <div class="row text-center">
                <div class="col-md-4">
                    <i class="material-icons" style="font-size:50px">cached</i>
                    <h3>ĐỒNG BỘ</h3>
                    <p>Các thông tin được đồng bộ với cơ sở dữ liệu liên tục, đảm bảo thông tin lưu trữ an toàn và thiết bị hoạt động chính xác</p>
                </div>
                <div class="col-md-4">
                    <i class="material-icons" style="font-size:50px">android</i>
                    <h3>ĐA NỀN TẢNG</h3>
                    <p>Là một ứng dụng web (webapp) cho nên việc điều khiển có thể thực hiện trên nhiều laoij thiết bị mà không cần cài thêm bất cứ ứng dụng gì</p>
                </div>
                <div class="col-md-4">
                    <i class="material-icons" style="font-size:50px">euro_symbol</i>
                    <h3>CHI PHÍ TỐT</h3>
                    <p>Là một hệ thống opensource, mọi người có thể tự làm dự trên hướng dẫn, trên các thiết bị có sẵn thêm vài thiết bị giá thành rẻ phổ biến trên thị trường</p>
                </div>
            </div>
        </div>
        <div class="feature2">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>TỰ LÀM!</h2>
                    <h3>TẠI SAO KHÔNG?</h3>
                    <i class="material-icons" style="font-size:50px">work</i>
                </div>
            </div>
        </div>
        <div class="feature3">
            <div class="row justify-content-center">

                <div class="col-md-4 col-sm-6 text-center">
                    <i class="material-icons" style="font-size:200px">announcement</i>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="content">
                        <h3>LÊN Ý TƯỞNG</h3>
                    </div>
                </div>

            </div>
            <div class="row justify-content-center">

                <div class="col-md-4 col-sm-6">
                    <div class="content">
                        <h3>ĐĂNG KÝ</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                    <i class="material-icons" style="font-size:200px">assignment_turned_in</i>
                </div>

            </div>
            <div class="row justify-content-center">

                <div class="col-md-4 col-sm-6 text-center">
                    <i class="material-icons" style="font-size:200px">build</i>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="content">
                        <h3>LẮP RÁP</h3>
                    </div>
                </div>

            </div>
            <div class="row justify-content-center">

                <div class="col-md-4 col-sm-6">
                    <div class="content">
                        <h3>KẾT NỐI</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                    <i class="material-icons" style="font-size:200px">network_wifi</i>
                </div>

            </div>
            <div class="row justify-content-center">

                  <div class="col-md-4 col-sm-6 text-center">
                      <i class="material-icons" style="font-size:200px">flight_takeoff</i>
                  </div>
                  <div class="col-md-4 col-sm-6">
                      <div class="content">
                          <h3>HOẠT ĐỘNG</h3>
                      </div>
                  </div>
            </div>
        </div>
        <footer class="footer">
          <div class="container">
              <span class="text-muted">Phát triển bởi đội kỹ sư tương lai</span>
          </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    </div>
    </body>
</html>
