<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test socket</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
    </script>
  </head>
  <body>
    <h1>hello</h1>
  </body>
</html>
